<div id="page_additional">
  <h3>Edit About Page</h3>
  <h4>You are editing an about page.</h4>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'form' %>

<%= link_to admin_pages_path, :class => "simple_button" do %>
  <span>&larr; Back to all pages</span>
<% end %>
