<div id="page_additional">
  <h3>New Notification</h3>
  <h4>You are creating a new notification, this will appear at the top of the site during the range specified.</h4>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", posts_path %></p>
