<ul id="sidebar_more">
  <!-- <li><a class="ask_question" href="#">Ask a Question!</a></li> -->
  <li><a class="follow_ey" href="http://twitter.com/EngineYard">Engine Yard on Twitter</a></li>
  <li><a class="follow_fb" href="http://www.facebook.com/engineyard">Engine Yard on Facebook</a></li>

  <li class="newsletter">
    <span class="mail_icon"></span>
    <form action="http://engineyard.createsend.com/t/y/s/dhijjh/" method="post" accept-charset="utf-8">
      <input type="text" name="cm-dhijjh-dhijjh" value="" id="dhijjh-dhijjh">
      <label class="inline-hints">Subscribe to our Newsletter</label>
    </form>
  </li>
</ul>
