<ul id="sidebar_more">
  <li><a class="all_posts" href="<%= posts_path %>">View all posts</a></li>
  <li><a class="ask_question" href="<%= new_community_question_path %>">Ask a Question!</a></li>
  <li><a class="follow_ey" href="http://twitter.com/<%= Setting.all[0].setting_value %>">Engine Yard on Twitter</a></li>
  <li><a class="follow_fb" href="<%= Setting.all[1].setting_value %>">Engine Yard on Facebook</a></li>

  <li class="newsletter">
    <span class="mail_icon"></span>
    <form action="http://engineyard.createsend.com/t/y/s/dhijjh/" method="post" accept-charset="utf-8">
      <input type="text" name="cm-dhijjh-dhijjh" value="" id="dhijjh-dhijjh">
      <label class="inline-hints">Subscribe to our Newsletter</label>
    </form>
  </li>
</ul>

<a class="banner" href="http://www.rubysoc.org">
  <img src="/images/banner_soc.png" alt="Ruby Summer of Code" />
</a>

<a class="banner" href="http://www.engineyard.com/products/cloud">
  <img src="/images/ey-badge-232x160.png" alt="Engine Yard" />
</a>

