<ul id="sidebar_more">
  <li><a class="ask_question" href="<%= new_community_question_path %>">Ask a Question!</a></li>
  <li><a class="follow_ey" href="http://twitter.com/<%= Setting.all[0].setting_value %>">Engine Yard on Twitter</a></li>
  <li><a class="follow_fb" href="<%= Setting.all[1].setting_value %>">Engine Yard on Facebook</a></li>

  <li class="newsletter">
    <span class="mail_icon"></span>
    
    <script type="text/javascript"> 
    var profiling = {
      isEnabled: false,
      numberOfProfilingFields: 3,
      alwaysShowFields: [ 'mktDummyEntry']
    };
    </script>
    <script type="text/javascript">function mktoGetForm() {return document.getElementById('mktForm_1002'); }</script>
    <form class="lpeRegForm formNotEmpty" method="post" enctype="application/x-www-form-urlencoded" action="http://na-f.marketo.com/index.php/leadCapture/save" id="mktForm_1002" name="mktForm_1002">

      <span class="mktFormReq mktField">
        <input class='mktFormText mktFormEmail mktFReq' name="Email" id="Email" type='text' value=""  maxlength='255' tabIndex='2' />
        <label class="inline-hints" style="left:10px !important;">Subscribe to our Newsletter</label>
        <div class='mktFormMsg'></div>
      </span>

      <input type="text" name="_marketo_comments" value="" class="hidden" />

      <input type="hidden" name="lpId" value="1009" />
      <input type="hidden" name="subId" value="121" />
      <input type="hidden" name="kw" value="" />
      <input type="hidden" name="cr" value="" />
      <input type="hidden" name="searchstr" value="" />
      <input type="hidden" name="lpurl" value="http://pages.engineyard.com/Blank-Newsletter.html?cr={creative}&kw={keyword}" />
      <input type="hidden" name="formid" value="1002" />
      <input type="hidden" name="returnURL" value="http://www.engineyard.com/newsletter/subscribe-thanks" />
      <input type="hidden" name="retURL" value="http://www.engineyard.com/newsletter/subscribe-thanks" />
      <input type="hidden" name="_mkt_disp" value="return" />
      <input type="hidden" name="_mkt_trk" value="%MC0%" />
    </form>
    
    <script type="text/javascript" src="http://na-f.marketo.com/js/mktFormSupport.js"></script>
    <script type="text/javascript">
    function formSubmit(elt) {
      return Mkto.formSubmit(elt);
    }
    function formReset(elt) {
      return Mkto.formReset(elt);
    }
    </script>
    
  </li>
</ul>

<a class="banner" href="http://www.rubysoc.org">
  <img src="/images/banner_soc.png" alt="Ruby Summer of Code" />
</a>

<a class="banner" href="http://pages.engineyard.com/introduction-to-Rails-3.html">
  <img src="/images/rails3-webinar-ad-232x250.png" alt="Rails 3 Webinar" />
</a>

