<% content_for :page_nav do %>
  <%= render "admin/shared/admin_nav"%>
<% end %>

<div id="page_additional">
  <h3>Admin</h3>  
  <h4>An overview of site activity</h4>  
</div>

<ul class="admin_nav">
  <li>
    <%= link_to destroy_user_session_path, :class => "simple_button" do %>
      <span>Logout</span>
    <% end %>
  </li>
</ul>
