<div id="page_additional">
  <h3><%= @page.page_title %></h3>
  <h4><%= @page.page_subtitle %></h4>
</div>

<%= raw markdown(@page.summary) unless @page.summary.nil? %>

<%= raw markdown(@page.body) %>
