<ul class="nested_fields">
  <li class="field">
    <label>Title</label>
    <%= f.text_field :title %>    
  </li>
  <li class="field">
    <label>Link</label>
    <%= f.text_field :link %>    
  </li>
  <li class="field">
    <label></label>
    <%= remove_child_link "remove", f %>
  </li>
</ul>

