<div id="page_additional">
  <h3>Edit Post</h3>
  <h4>You are creating a new post, this will appear in the "New Rails 3 Features" section.</h4>
</div>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", posts_path %></p>