<ul>
  <li class="field">
    <label>Type</label>
    <%= f.select("type_id", Type.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>    
  </li>
  <li class="field">
    <label>Title</label>
    <%= f.text_field :title %>    
  </li>
  <li class="field">
    <%= remove_child_link "remove", f %>
  </li>
</ul>

