<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    <li class="active">
      <a href="#">
        <span class="title">Blogs</span>
        <span class="details">Posts and articles</span>
      </a>
    </li>
  </ul>

  <%= render "layouts/shared/sidebar_social_links" %>

</nav>
<% end %>

<div id="page_additional">
  <h3>Blog postings</h3>
  <h4>by popular Rails developers</h4>
</div>

<div id="feed_container">
  <%= render :partial => "feed_entry", :collection => @feed_entries %>
</div>

<% if defined? params[:page] %>
<div id="feed_pagination">
  <%= render "feed_pagination" %>  
</div>
<% end %>