<% content_for :page_nav do %>
<div id="upcoming">
  <div class="counter">

    <div class="counter_section">
      <div class="counter_section_content">1</div>
      <div class="counter_section_mask"></div>
    </div>
    <div class="counter_section">
      <div class="counter_section_content">2</div>
      <div class="counter_section_mask"></div>
    </div>

  </div>
</div>

<nav>
  <ul id="tab_nav">
    
    <li class="future">
      <a href="#">
        <span class="title">SafeBuffers and Rails 3</span>
        <span class="details">Up next</span>
      </a>
    </li>
  
    <li class="active">
      <a href="#">
        <span class="title">Rails 3 Routing: Rack it Up</span>
        <span class="details">This week</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Generic Actions in Rails 3</span>
        <span class="details">Last week</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Gem Bundler</span>
        <span class="details">Two weeks ago</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Rails and Metaprogramming</span>
        <span class="details">Three weeks ago</span>
      </a>
    </li>
  </ul>
  
  <ul id="sidebar_more">
    <li><a class="ask_question" href="#">Ask a Question!</a></li>
    <li><a class="follow_ey" href="#">Engine Yard on Twitter</a></li>
    <li><a class="follow_fb" href="#">Engine Yard on Facebook</a></li>

    <li class="newsletter">
      <span class="mail_icon"></span>
      <form action="#" method="#" accept-charset="utf-8">
        <input type="text" name="some_name" value="" id="newsletter_input">
        <label class="inline-hints">Receive our Newsletter</label>
      </form>
    </li>
  </ul>

</nav>
<% end %>

<div id="page_additional" class="with_contributor">
  <a href="#" class="person_thumb small">
    <img src="images/people/yehuda-katz.png" width="79" height="79" alt="Yehuda Katz">
    <span class="person_mask"></span>
  </a>
  
  <h3>Rails 3 Routing: Rack it Up</h3>

  <div class="contributor_details">
    <h4>Yehuda Katz (topic host)</h4>  
    <ul class="contributor_social_links">
      <li><a class="twitter_social" title="Follow Yehuda on Twitter" rel="tipsy" href="#"></a></li>
      <li><a class="github_social" title="Yehuda on Github" rel="tipsy" href="#">Github</a></li>
      <li><a class="ask_contributor_question" title="Ask Yehuda a Question" rel="tipsy" href="#">Ask a Question</a></li>
    </ul>  
  </div>
  
</div>

<!-- <div class="welcome">
  <div class="welcome_content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>  

  <ul class="welcome_list">
    <li class="title"><span>Key components</span></li>
    <li>Rails talks</li>
    <li>Screencasts</li>
    <li>Guides</li>
    <li>Source code for screencasts</li>
    <li>Ask questions to Rails core team developers</li>
  </ul>
</div>

<div class="video_frame">
  <div class="video">
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

<%= render @posts %>

<%#= link_to "New Post", new_post_path %>
