<% content_for :page_nav do %>
<div id="upcoming">
  <div class="counter">

    <div class="counter_section">
      <div class="counter_section_content">1</div>
      <div class="counter_section_mask"></div>
    </div>
    <div class="counter_section">
      <div class="counter_section_content">2</div>
      <div class="counter_section_mask"></div>
    </div>

  </div>
</div>

<nav>
  <ul id="tab_nav">
    
    <li class="future">
      <a href="#">
        <span class="title">SafeBuffers and Rails 3</span>
        <span class="details">Up next</span>
      </a>
    </li>
    
    <%= post_nav %>
  
    <li class="active">
      <a href="#">
        <span class="title">Rails 3 Routing: Rack it Up</span>
        <span class="details">This week</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Generic Actions in Rails 3</span>
        <span class="details">Last week</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Gem Bundler</span>
        <span class="details">Two weeks ago</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Rails and Metaprogramming</span>
        <span class="details">Three weeks ago</span>
      </a>
    </li>
  </ul>
  
  <ul id="sidebar_more">
    <li><a class="ask_question" href="#">Ask a Question!</a></li>
    <li><a class="follow_ey" href="#">Engine Yard on Twitter</a></li>
    <li><a class="follow_fb" href="#">Engine Yard on Facebook</a></li>

    <li class="newsletter">
      <span class="mail_icon"></span>
      <form action="#" method="#" accept-charset="utf-8">
        <input type="text" name="some_name" value="" id="newsletter_input">
        <label class="inline-hints">Receive our Newsletter</label>
      </form>
    </li>
  </ul>

</nav>
<% end %>

<%= render @posts[0] %>
