<div id="page_additional">
  <h3>Edit Contributor</h3>  
  <h4>You are editing a contributors, they&rsquo;ll will appear in the contributors section.</h4>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'form' %>

<%= link_to admin_contributors_path, :class => "simple_button" do %>
  <span>&larr; Back to all contributors</span>
<% end %>
