<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    
    <li class="active">
      <a href="/admin/users">
        <span class="title">Users</span>
        <span class="details">add, edit, remove users</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="/admin/posts">
        <span class="title">Posts</span>
        <span class="details">add, edit, remove posts</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="/admin/users">
        <span class="title">Contributors</span>
        <span class="details">add, edit, remove users</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="/admin/community">
        <span class="title">Community</span>
        <span class="details">add, edit, remove feeds</span>
      </a>
    </li>
  
  </ul>

</nav>
<% end %>

<div id="page_additional">
  <h3>Contributors</h3>  
  <h4>add, edit, remove users</h4>  
</div>

<ul class="admin_nav">
  <li>
    <%= link_to new_admin_user_path, :class => "simple_button" do %>
      <span>Add another user</span>
    <% end %>
  </li>
</ul>


<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th>Full Name</th>
  <th></th>
  <th></th>
</tr>
<% @users.each_with_index do |user, i| %>
<tr>
  <td><%= user.email %></td>
  <td><%= link_to "edit", edit_admin_user_url(user) %></td>
</tr>
<% end %>
</table>
