<li class="contributor_social"><%= link_to contributor.firstname, "http://twitter.com/#{contributor.twitter_username}", :rel => "tipsy", :class => "twitter_social", :title => "Follow #{contributor.firstname} on Twitter" %></li>
<li class="contributor_social"><%= link_to contributor.firstname, "http://github.com/#{contributor.github_username}", :rel => "tipsy", :class => "github_social", :title => "Follow #{contributor.firstname} on Github" %></li>
<li class="contributor_social"><%= link_to contributor.firstname, new_community_question_path(:question => {:contributor_id => contributor.id}), :rel => "tipsy", :class => "ask_contributor_question", :title => "Ask #{contributor.firstname} a question" %></li>
<% unless contributor.website_url.blank? -%>
<li class="contributor_social"><%= link_to contributor.firstname, "http://#{contributor.website_url}", :rel => "tipsy", :class => "website", :title => "Visit #{contributor.firstname}&rsquo;s Site" %></li>
<% end %>
