<% content_for :head do %>
  <%= stylesheet_link_tag "wufoo/form", "wufoo/structure", "wufoo/theme" %>
  <%= javascript_include_tag "wufoo/wufoo" %>
<% end %>

<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
  
    <li class="inactive">
      <a href="/contributors">
        <span class="title">Contributors</span>
        <span class="details">Meet the team</span>
      </a>
    </li>
  
    <li class="active">
      <a href="#">
        <span class="title">Become a Contributor</span>
        <span class="details">Join the team</span>
      </a>
    </li>
  
  </ul>
  
  <%= render "layouts/shared/sidebar_social_links" %>
  
</nav>
<% end %>

<div id="page_additional">
  <h3>Become a Contributor</h3>
  <h4>Join the team</h4>
</div>

<p>RailsDispatch is a community effort; if you'd like to be a Topic Host, or to contribute materials, please fill out this form; someone will respond shortly.</p>

<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var z7x3w7 = new WufooForm();
z7x3w7.initialize({
'userName':'engineyard', 
'formHash':'z7x3w7', 
'autoResize':true,
'height':'1429', 
'ssl':true});
z7x3w7.display();
</script>