<% content_for :head do %>
  <%= stylesheet_link_tag "wufoo/form", "wufoo/structure", "wufoo/theme" %>
  <%= javascript_include_tag "wufoo/wufoo" %>
<% end %>

<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
  
    <li class="inactive">
      <a href="/contributors">
        <span class="title">Contributors</span>
        <span class="details">Meet the team</span>
      </a>
    </li>
  
    <li class="active">
      <a href="#">
        <span class="title">Become a Contributor</span>
        <span class="details">Apply to become a contributor!</span>
      </a>
    </li>
  
  </ul>
  
  <%= render "layouts/shared/sidebar_social_links" %>
  
</nav>
<% end %>

<div id="page_additional">
  <h3>Apply to be a Contributor</h3>
  <h4></h4>
</div>

<p>RailsDispatch is a community effort; if you'd like to be a Topic Host, or to contribute materials, please fill out this form; someone will respond shortly.</p>

<form id="form10" name="form10" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" action="#public">

  <ul>
    <li id="foli6" 		class="first section      ">
      <h3 id="title6">About Me</h3>
      <div id="instruct6">This information will be used to build your Contributor profile.</div>
    </li>

    <li id="foli1" 		class="     ">
      <label class="desc" id="title1" for="Field1">
        Name
        <span id="req_1" class="req">*</span>
      </label>
      <span>
        <input id="Field1" 			name="Field1" 			type="text" 			class="field text fn" 			value="" 			size="8" 			tabindex="1" 						/>
        <label for="Field1">First</label>
      </span>
      <span>
        <input id="Field2" 			name="Field2" 			type="text" 			class="field text ln" 			value="" 			size="14" 			tabindex="2" 						/>
        <label for="Field2">Last</label>
      </span>
    </li>


    <li id="foli3" 		class="     ">
      <label class="desc" id="title3" for="Field3">
        Email
        <span id="req_3" class="req">*</span>
      </label>
      <div>
        <input id="Field3" 			name="Field3" 			type="text" 			class="field text medium" 			value="" 			maxlength="255" 			tabindex="3" 						/> 
      </div>
    </li>


    <li id="foli5" 
    class="     ">


    <label class="desc" id="title5" for="Field5">
      Bio
      <span id="req_5" class="req">*</span>
    </label>

    <div>
      <textarea id="Field5" 
      name="Field5" 
      class="field textarea medium" 
      rows="10" cols="50"
      tabindex="4"
      onkeyup=""
      ></textarea>

    </div>



  </li>


  <li id="foli4" 		class="      " 	 >
    <label class="desc" id="title4" for="Field4">
      Headshot
      <span id="req_4" class="req">*</span>
    </label>
    <div>
      <input id="Field4" 			name="Field4" 			type="file" 			class="field file large" 			tabindex="5" 			/>
    </div>
  </li>





  <li class="buttons ">
    <div>
      <input type="hidden" name="currentPage" id="currentPage" value="dB5YAYUJLThQ1vViLqkRtO8PC6nWmLuPsz2BRQNT4gw=">
      <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />


    </div>
  </li>

  <li style="display:none">
    <label for="comment">Do Not Fill This Out</label>
    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
    <input type="hidden" id="idstamp" name="idstamp" value="" />
  </li>
</ul>
</form>