<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
  
    <li class="active">
      <a href="#">
        <span class="title">Contributors</span>
        <span class="details">Meet the team</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Questions</span>
        <span class="details">Ask and vote for questions...</span>
      </a>
    </li>
  
    <li class="inactive">
      <a href="#">
        <span class="title">Something Else</span>
        <span class="details">lorem ipsum dolor sit</span>
      </a>
    </li>
  </ul>
  
  <ul id="sidebar_more">
    <li><a class="ask_question" href="#">Ask a Question!</a></li>
    <li><a class="follow_ey" href="#">Engine Yard on Twitter</a></li>
    <li><a class="follow_fb" href="#">Engine Yard on Facebook</a></li>
    
    <li class="newsletter">
      <span class="mail_icon"></span>
      <form action="#" method="#" accept-charset="utf-8">
        <input type="text" name="some_name" value="" id="newsletter_input">
        <label class="inline-hints">Receive our Newsletter</label>
      </form>
    </li>
    
  </ul>
  
</nav>
<% end %>

<div id="page_additional">
  <h3>Choose a contributor from below</h3>
  <h4>Read about their contributions to Rails &amp; ask them questions</h4>
</div>

<div id="person_bio"></div>

<%= render @contributors %> 
