<% content_for :page_nav do %>
  <%= render "admin/shared/admin_nav"%>
<% end %>

<div id="page_additional">
  <h3>Community</h3>  
  <h4>add, edit, remove feeds</h4>  
</div>


<ul class="admin_nav">
  <li>
    <%= link_to admin_root_path, :class => "simple_button" do %>
      <span>&larr; Back to admin home</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_community_feeds_url, :class => "simple_button" do %>
      <span>View Feeds</span>
    <% end %>
  </li>
</ul>
